.lgItem,
.mdItem,
.smItem {
  position: relative;
}

.lgItem {
  min-width: 218px;
  min-height: 400px;
}

.mdItem {
  min-width: 158px;
  min-height: 280px;
}

.smItem {
  min-width: 300px;
  min-height: 170px;
}

.cardImg {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
}
