.sectionContainer {
  color: var(--blue20);
  background-color: --var(--black50);
  padding-left: 1em;
  padding-right: 1em;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white10);
}

.cardWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1.3em;
  margin-top: 1.5rem;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cardWrap {
  flex-wrap: wrap;
}
